@import './colors';
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
    background-color: $slate;
    color: $white;
    font-family: 'Merriweather', serif;

    .appContainer {
        height: 100%;
        width: 800px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin: 0 auto;

        a {
            color: inherit;
            &:hover {
                color: $active;
            }
        }

        .highlight {
            color: $coral;
        }

        .nav-back {
            margin: 20px;
            cursor: pointer;
            position: fixed;
            top: 0;
            left: 30px;
        }
    }
}
