@import '../../styles/colors';

.projectsContainer {
    text-align: center;

    .projectNav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .company-logo {
            width: 100px;
        }

        a {
            color: inherit;
        }
    }
}