@import '../../styles/colors';

.projectsContainer {
    text-align: center;

    .projectNav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .company-logo {
            box-shadow: 4px 3px 8px $coral;
            width: 100px;
            padding: 5px;
            border-radius: 80px;
            padding: 15px;
            &:hover {
                box-shadow: 4px 3px 8px $seafoam;
            }
        }
    }
}