@import '../../styles/colors';

.aboutContainer {
    text-align: center;
    .links {
        display: flex;
        justify-content: center;
    }
    .info {
        text-align: left;
        li {
            list-style: none;
        }
    }
}