@import '../../styles/colors';

.homeContainer {
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: $background;
    .projectWrapper {
        display: flex;
        margin-top: 50px;
        & > * {
            width: 50%;
        }
        &.even {
            padding-left: 50px;
            flex-direction: row-reverse;
        }
        &.odd {
            padding-right: 50px;
        }
    }
}